<p id="notice"><%= notice %></p>


      <div class="jumbotron text-white rounded bg-dark">
        <div class="col-md-12 px-0">
          <h1 class="display-4 font-italic"><%= @type.type_name %></h1>
        </div>
      </div>
  <div class="col-md-10 mb-3">
    <div class="form-actions">
        <button class="btn btn-sm btn-outline-secondary" ><%= link_to 'Retour', atypes_path %></button>
    </div>
  </div>
  <div class="col-md-10 mb-3">
    <div class="form-actions">
        <button class="btn btn-sm btn-outline-secondary" ><%= link_to 'Modifier', edit_type_path(@type) %></button>
    </div>
  </div>
